<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create a new product</h1>

      <%= simple_form_for @product do |f| %>
        <%= f.input :title %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.input :disponibility %>
        <%= f.input :category %>
        <%= f.input :localization %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-pry w-100' %>
      <% end %>
    </div>
  </div>
</div>