<div class="container">
  <div class="content-wrapper">
    <h1 class="my-4" style="font-size: 3em;">
      <%= @product.title %>
    </h1>
    <div class="row">
      <div class="col-md-8">
        <%= cl_image_tag @product.photo.key, class: "d-block w-100", style: "border-radius: 3px; height: 400px; crop: fill;" %>
        <div>
          <h4 class="my-3"><strong>Description:</strong></h4>
          <p style="text-align: justify;"><%= @product.description %></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-product">
          <div id="product-show">
            <div class="product-info">
              <div>
                <h4 class="my-3"><strong>Name:</strong></h4>
                <h3><%= @product.title %></h3>
              </div>
              <div>
                <h4 class="my-3"><strong>Address:</strong></h4>
                <h3><%= @product.localization %></h3>
              </div>
              <div>
                <h4 class="my-3"><strong>Price:</strong></h4>
                <h3>Z$ <%= @product.price %></h3>
              </div>
            </div>
            <div class="owner-info">
              <div>
                <h4 class="my-3"><strong>Owner Info:</strong></h4></strong>
                <% if @product.disponibility? %>
                  <h3><%= @product.user.name %></h3>
                <% else %>
                  <h3><%= current_user.name %>  </h3>
                <% end %>
              </div>
              <div>
                <h4 class="my-3"><strong>Phone:</strong></h4>
                <h3><%= @product.user.email %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <% a = current_user.orders.map do |order|  %>
    <% order.product %>
  <% end %>

  <% if a.include?(@product) || @product.user == current_user %>
    <h2>Already <span class ="span-model">Yours!</span></h2>
    <%=link_to "edit product",edit_product_path(@product) %>
    <%=link_to "delete product",@product, method: :delete, data: {confirm: "Are u sure"} %>

  <% else %>
    <%= link_to 'Buy', product_orders_path(@product), method: :post, class: 'btn btn-outline-success', style: "display: block", data: { confirm: "Are you sure?" } %>
  <% end %> | <%= link_to 'Back', :back, class: 'btn btn-outline-light', style: 'display: block' %>

<% else %>
  <%= link_to 'Buy', product_orders_path(@product), method: :post, class: 'btn btn-outline-success', style: "display: block", data: { confirm: "Are you sure?" } %>
    | <%= link_to 'Back', :back, class: 'btn btn-outline-light', style: 'display: block' %>
<% end %>
